*/bin-debug
*/bin-release
*/html-template
*/build.properties
*/build/
*/.actionScriptProperties
*/.flexProperties
*/.fxpProperties
*/.flexLibProperties
*/.project
*/formatting.properties
*/.settings/
*/bin/
*/Version.as
.metadata
*/.svn
*/org/
